*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

p{
    padding: 1vh;
}

.flex-box {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.flex-item{
    
}

header {
    background: red;
    height: 10%;
    width: 100%
    

}

.as-left {
    background: green;
    height: 80%;
    width: 20%;

}

main {
    background: #35a4c8;
    width: 60%;
}

.as-right {
    background: pink;
    width: 20%;
}

footer {
    background: #6c5699;
    height: 10%;
    width: 100%;
}

@media (min-width: 992px){
    
}

@media (min-width: 768px) and (max-width: 992px){
    
}

@media (max-width: 768px){
    
}