html, body{
    margin: 0;
    padding: 0;
}

.flex-box{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    display: flex;
}

header{
    background: red;
    flex-basis: 100%;
    flex-wrap: wrap;
    
}

.as-left{
    background: green;
}

main{
    background: #35a4c8;

}

.as-right{
    background: pink;

}

footer{
    background: #6c5699;

}